[submodule "server_src/yaml-cpp"]
	path = server_src/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "server_src/build/yaml-cpp"]
	path = server_src/build/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "server_src/build/_deps/yaml-cpp-src"]
	path = server_src/build/_deps/yaml-cpp-src
	url = https://github.com/user/yaml-cpp.git
